body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, lab(74.04% 2.22 -37.27), #3a1c71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main box */
.container {
    width: 350px;
    height: 420px;
    background: #1c1c2e;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px #2a0404;
}

/* Form wrapper */
.form-container {
    width: 200%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Each form */
.form {
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #777;
    background: transparent;
    color: white;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #7b2ff7;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #7b2ff7, #9f44d3);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

span {
    color: #7b2ff7;
    cursor: pointer;
}
