* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #9DB0E0 0%, #6C63B5 50%, #3A1C71 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    width: 950px;
    height: 450px;
    display: flex;
    border: 2px solid #3374b1;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.4);
    animation: glow 3s infinite alternate;
}

/* Neon Border Glow Animation */
@keyframes glow {
    from { box-shadow: 0 0 15px #a020f0; }
    to {box-shadow: 0 0 20px #2a0404; }
}

/* Left Section */
.left {
    width: 50%;
    background: #000;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Right Section */
.right {
    width: 50%;
    background: linear-gradient(135deg, #130c17,  #3A1C71);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px;
}

/* Animations */
.fade-in {
    animation: fadeIn 1.2s ease-in-out;
}

.slide-in {
    animation: slideIn 1.2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}

/* Form */
.form-box {
    width: 75%;
}

.form-box h2 {
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #aaa;
    color: white;
    outline: none;
    transition: 0.3s;
}

/* Input Glow on Focus */
.input-box input:focus {
    border-bottom: 1px solid #c84bff;
    box-shadow: 0 4px 10px rgba(200, 75, 255, 0.4);
}

/* Animated Button */
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(270deg, #6a0dad, #c84bff, #6a0dad);
    background-size: 400% 400%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    animation: gradientMove 4s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.btn:hover {
    transform: scale(1.05);
}

/* Result */
#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    opacity: 0;
    transition: 0.5s;
}

#result.show {
    opacity: 1;
    transform: translateY(10px);
}
